/* Default styles */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
    font-weight: 400;
    color: #000;
}

.container-custom {
    margin: 0 auto;
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
}

.container-dlin {
    margin: 0 auto;
    width: 100%;
    max-width: 1450px;
    padding: 0 15px;
}

@media (min-width: 1441px) {
    html {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 20px;
    }
}

/* Blocks */
.up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1100px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.logo {
    display: block;
    height: 8vh;
    margin-top: 6px;
    -webkit-box-flex: 0.2;
    -ms-flex: 0.2 175px;
    flex: 0.2 175px;
    background-image: url(/assets/img/logo.svg);
    background-position: 0% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.id {
    margin-left: 190px;
    -webkit-box-flex: 0;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.image-13 {
    margin-top: 24px;
    margin-right: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-block {
    font-size: .7rem;
    margin-top: 25px;
    margin-right: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 auto;
    flex: 0 auto;
    opacity: 0.7;
    text-align: left;
    line-height: 20px;
}

.soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 19px;
    margin-right: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tele {
    overflow: hidden;
}

.whats {
    overflow: hidden;
    margin-left: -10px;
    padding-left: 0px;
}

.phone {
    position: static;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 284px;
    margin-right: -15px;
    margin-left: -41px;
}

.image-6 {
    margin-top: -15px;
}

.intro {
    margin-bottom: 120px;
}

.intro-title {
    font-size: 45px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 12px;
}

.intro-title > span {
    color: #005FCF;
    font-weight: 700;
    letter-spacing: 3%;
    display: block;
}

.intro-text {
    font-size: 21px;
}

.intro-inner > .button {
    margin: 30px auto 0;
    -webkit-box-shadow: 0 22px 75px 5px rgba(0, 95, 207, 0.2);
    box-shadow: 0 22px 75px 5px rgba(0, 95, 207, 0.2);
    display: none;
}

.icon-section-inner {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.icon-section-inner > .icon-item {
    margin-bottom: 15px;
    padding: 0 10px;
    font-size: 17px;
    line-height: 1.2;
    max-width: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    min-height: 140px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-section-inner > .icon-item > img {
    margin-bottom: 10px;
}

.icon-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 100%;
}

.slider-inner {
    padding-top: 30px;
    background-color: #E5E5E5;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content-container {
    margin: 0 auto;
    width: 100%;
    max-width: 850px;
    padding: 0 45px;
}

.slider-switchers {
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.slider-switchers > button {
    height: 5px;
    width: 190px;
    max-width: 23%;
    background-color: rgba(1, 13, 27, 0.3);
    display: block;
    border-radius: 4px;
}

.slider-switchers > button:hover, .slider-switchers > button.active {
    background-color: #005FCF;
}

.slider-content {
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.slider-content-inner {
    position: relative;
}

.slider-title {
    margin-bottom: 14px;
    font-size: 1.2rem;
    line-height: 1.1;
    max-width: 330px;
    font-weight: 700;
    max-width: 464px;
}

.slider-text {
    font-size: 16px;
    line-height: 1.3;
    max-width: 330px;
    opacity: .7;
}

.slider-image {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 33%;
    width: 100%;
    max-width: 360px;
    overflow-y: hidden;
    position: relative;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

.slider-image > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slider-content_button-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.button-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 10rem;
    width: 10rem;
    height: 68px;
    margin-top: 5px;
    padding-left: 30px;
    background-color: #005FCF;
    border-radius: 11px;
    background-image: url(/assets/img/arrow-btn.svg);
    background-position: 87% 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    font-size: .8rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.slider-content_button-row_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.image {
    margin-left: -1rem;
}

.slider-hash-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.slider-hash-navigation > a {
    height: 5px;
    width: 190px;
    max-width: 23%;
    background-color: rgba(1, 13, 27, 0.3);
    display: block;
    border-radius: 4px;
}

.slider-hash-navigation > a:hover, .slider-switchers > a.active {
    background-color: #005FCF;
}

.button.secondary:focus {
    background-color: #005FCF;
}

.slider__white-page {
    margin-bottom: 8rem;
    margin-top: -5rem;
}

.section-buttons {
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.button {
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: inherit;
    font-family: 'Lato', sans-serif;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.button--round {
    border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button--round.big {
    width: 167px;
    height: 167px;
    border: 4px solid #fff;
}

.button-telegram {
    background-color: #3B8CEC;
}

.button-telegram:hover {
    background-color: #2674d3;
}

.section-buttons > .button:nth-child(2) {
    position: relative;
    left: -30px;
    z-index: 1;
}

.button-whatsapp {
    background-color: #44B111;
}

.button-whatsapp:hover {
    background-color: #369709;
}

.button-phone--big {
    padding: 50px 142px;
    font-family: 'Lato', sans-serif;
    font-size: 52px;
    border-radius: 100px;
}

.button--red {
    background-color: #D74D40;
    color: #fff;
    text-decoration: none;
}

.content {
    margin-bottom: 3.75rem;
}

.content-inner {
    padding: 65px 0 95px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.content-inner.dark {
    background-color: #010D1B;
    color: rgba(255, 255, 255, 0.6);
}

.content-container {
    margin: 0 auto;
    width: 100%;
    max-width: 850px;
    padding: 0 45px;
}

.content-title {
    margin-bottom: 56px;
    font-size: 43px;
    color: #fff;
    max-width: 490px;
}

.content-project-types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.project-type-item {
    width: 240px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 56px;
    cursor: pointer;
    max-width: 31%;
}

.project-type-image {
    margin-bottom: 24px;
    height: 166px;
    max-width: 240px;
    position: relative;
    overflow: hidden;
    border-radius: 17px;
}

/*.project-type-item > .project-type-image {
    background-color: rgb(255, 255, 255);
}*/
.content-title {
    margin-bottom: 56px;
    font-size: 43px;
    color: #fff;
    max-width: 490px;
}

.project-type-image > .check {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    opacity: 0;
}

.project-type-item.selected > .project-type-image > .check {
    opacity: 1;
}

.project-type-item.selected > .project-type-image > .image {
    opacity: .5;
}

.project-type-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.project-type-text {
    font-size: 14px;
}

.project-type-image > .image {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
  /* z-index: 1; */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.project-type-item:hover > .project-type-image > .image, .project-type-item:focus > .project-type-image > .image, .project-type-item.active > .project-type-image > .image, .project-type-item.selected > .project-type-image > .image {
    opacity: .5;
}

.input, .input-area {
    padding: 30px;
    display: block;
    width: 100%;
    border-radius: 17px;
    font-size: 21px;
    color: #000;
    border: none;
}

.input-area {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 198px;
    resize: none;
}

.request-form > .input-area {
    margin-bottom: 55px;
}

.request-form > .form-title {
    margin-bottom: 25px;
    font-size: 27px;
    color: #fff;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.request-form > .form-title__gray-form {
    margin-bottom: 25px;
    font-size: 27px;
    color: #000;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.input, .input-area {
    padding: 30px;
    display: block;
    width: 100%;
    border-radius: 17px;
    font-size: 21px;
    color: #000;
    border: none;
}

.request-form > .input:not(.input-area) {
    margin-bottom: 28px;
}

.request-form > .permissions {
    margin-bottom: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.button.button-check {
    width: 29px;
    height: 29px;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
}

.request-form > .permissions > .button-check {
    margin-right: 10px;
}

.button.button-check > svg {
    opacity: 0;
    -webkit-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
}

.button.button-check:hover > svg, .button.button-check:focus > svg, .button.button-check.selected > svg {
    opacity: 1;
}

.button--big {
    padding: 38px 76px;
    font-size: 27px;
    border-radius: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.button--blue {
    background-color: #005FCF;
    color: #fff;
}

.button--blue:hover {
    background-color: #0254b1;
}

.button--big > img {
    margin-left: 43px;
}

.confidacition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 2.6rem;
}

.confidacition-text {
    font-size: .8rem;
    color: #fff;
    opacity: .7;
    font-weight: 400;
    max-width: 16.8rem;
    margin-left: auto;
}

.content-inner__gray {
    background-color: #E5E5E5;
    color: #000;
    position: relative;
}

.project-type-title__gray-form {
    color: #000;
}

.project-type-text__gray-form {
    opacity: .6;
}

.confidacition-text__gray-form {
    color: #000;
    letter-spacing: 0.03em;
}

.content-title__gray-form {
    color: #000;
    font-weight: 700;
}

.form-title__gray-form {
    color: #000;
}

.icon-section-inner__white-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    bottom: 4.75rem;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.icon-item__white-page > img {
    max-width: 53px;
}

.icon-section-inner__white-page > .icon-item__white-page {
    min-height: 0;
    margin-bottom: 1.4rem;
}

.check-button {
    position: absolute;
    z-index: 2;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    top: 13px;
    left: 13px;
}

.input-radio-check {
    width: 240px;
    height: 167px;
    opacity: 0;
    position: relative;
    z-index: 3;
}

.project-type-image .check-button:before {
    content: "";
    display: inline-block;
    width: 47px;
    height: 47px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(/assets/img/check.svg) 0 0 no-repeat;
    display: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.input-radio-check:checked + .check-button:before {
    display: block;
}

.up__header-dlin {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    max-width: none;
}

.dlin-mac-info-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dlin-mac-info-row_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.parthner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 10.55rem;
    height: 10.55rem;
    border-radius: 50%;
    background-color: #010D1B;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.parthner_title {
    font-size: 1.2rem;
    text-align: start;
    padding-left: 2.25rem;
    color: #CCE9EB;
    line-height: 113.2%;
    letter-spacing: 0.03em;
}

.parthner_id {
    color: #010D1B;
    background-color: #CDEAEC;
    padding: 8.33px;
    margin-top: 13px;
    border-radius: 7.5px;
}

.parthner_bitr {
    position: absolute;
    top: 0;
    right: -16px;
}

.sec-macb {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 47%;
    background-image: url(/assets/img/top-mainimg.png);
}

.dlin-mac-info-row_col-title {
    font-size: 3.2rem;
    max-width: 39rem;
    line-height: 134.2%;
    letter-spacing: 0.03em;
}

.dlin-mac-info-row_col-subtitle {
    max-width: 27.6rem;
    width: 100%;
    margin: auto;
    font-size: 2.4rem;
    line-height: 1.3;
}

.title-blue {
    color: #005FCF;
}

.sub-title-red {
    color: #fff;
    background-color: #D74D40;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
}

.button-dlin-page {
    font-size: 1.35rem;
    line-height: 1.2;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    padding-left: 3.8rem;
    padding-right: 6.7rem;
    background-color: #005FCF;
    border-radius: 17px;
    background-image: url(/assets/img/arrow-btn.svg);
    background-position: 80%;
    background-repeat: no-repeat;
    display: table;
    text-decoration: none;
    color: #fff;
}

.button-dlin-page:hover {
    color: #fff;
    text-decoration: none;
}

.mac-content_button-row {
    margin-top: 1.8rem;
}

.sec-dlin-succef {
    background-color: #010D1B;
    padding-bottom: 33.75rem;
}

.succe-info {
    max-width: 1220px;
    margin: auto;
}

.succe-info_title {
    color: #CFEBED;
    font-size: 4rem;
    line-height: 1.12;
    max-width: 51.5rem;
    margin-bottom: 5.85rem;
    text-transform: uppercase;
}

.succe-info-item_title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    color: #E5E5E5;
    line-height: 1.12;
    letter-spacing: 0.03em;
    margin-top: 2rem;
    margin-bottom: 13px;
}

.succe-info-item_subtitle {
    font-size: .9rem;
    color: #FFF9DD;
    opacity: 0.7;
    line-height: 1.12;
    letter-spacing: 0.03em;
}

.succe-info-item {
    margin-bottom: 2.7rem;
}

.col__bg-left {
    background-image: url(/assets/img/mencomputer.png);
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

.succe-info-item__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 2.5rem;
}

.succe-info-item__bottom_column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    padding-top: 15px;
}

.succe-info-item_title__nomargin {
    margin-top: 0;
    font-size: 1.65rem;
}

.succe-info-item_img__flex-style {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

.succe-info-item__padding {
    padding-top: 4rem;
}

.dlin-form {
    margin-top: -27.8rem;
}

.blue-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #005FCF;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    border-radius: 10px;
}

.form-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form-content_title {
    margin-bottom: 3.2rem;
    font-size: 4rem;
    color: #fff;
    line-height: 113.2%;
    letter-spacing: 0.03em;
    font-family: Urwgeometric, sans-serif;
}

.form-content_ivan-photo {
    margin-bottom: 15px;
}

.form-content_ivan-photo_img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.form-content_ivan_name {
    font-size: 1.65rem;
    color: #CFEBED;
    line-height: 113.2%;
    letter-spacing: 0.03em;
    margin-bottom: 15px;
}

.form-content_ivan_info {
    font-size: 1.2rem;
    line-height: 113.2%;
    max-width: 370px;
    letter-spacing: 0.03em;
    color: #CFEBED;
    opacity: 0.7;
}

.button-dlin-page__form {
    border: 2px solid #fff;
}

.form-inp {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2.35rem;
    width: 25.2rem;
    border-radius: 17px;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-content_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 7rem;
    padding-right: 7rem;
}

.form-buttons {
    padding-top: 3.35rem;
}

.form-buttons_personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 2rem;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 29px;
    height: 29px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-checkbox:focus + label::before {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked) + label::before {
    border-color: #80bdff;
}

.custom-checkbox:checked + label::before {
    background-image: url("/assets/img/galkacheck.svg");
}

.form-buttons_personal_text {
    font-size: .9rem;
    line-height: 113.2%;
    letter-spacing: 0.03em;
    color: #FFF9DD;
    opacity: 0.7;
}

.label-check {
    margin: 0;
}
